/* common */

body {
  background-color: #ffffff;
  font-family: sans-serif;
}

.header > h1 {
  text-transform: uppercase;
  text-shadow: 4px 4px 6px rgba(150, 150, 150, 1);
}

.hidden {
  display: none;
}
div.header {
  text-align: center;
}
div.loading,
div.loadError
{
  text-align: center;
}

/* index.html */
table.idx-game-list {
  margin: 0 auto;
  border: 1px solid black;
  border-spacing: 0;
  border-radius: 5px;
  padding: 20px;
  background-color: #2C2C2C;
  box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.75);
  /*color: #ABABAB;*/
  color: gray;
}
table.idx-game-list td {
  padding: 10px;
}
table.idx-game-list tr:nth-child(even) {
  background: #454545
}
table.idx-game-list tr:nth-child(odd) {
  background: #5F5F5F
}
td.idx-game-header {
  font-size: larger;
  font-weight: bold;
  background-color: #2C2C2C;
}
td.idx-game-footer {
  text-align: right;
  background-color: #2C2C2C;
}
tr.idx-game-col-header th {
  border: 1px solid;
  background-color: #2C2C2C;
}
tr.idx-game-row td {
  border: 1px dotted;
}

tr.game-status-0,
tr.game-status-1 {
  color: #FFCC00;
}

tr.game-status-2,
tr.game-status-3,
tr.game-status-4 {
  color: #1C8A00;
}

tr.game-status-5 {
  color: #660000;
}

tr.game-status-6 {
  color: #0099ff;
}

a.idx-game-cancel {
  border: 3px solid;
  padding: 5px;
  border-radius: 5px;
  text-decoration: initial;
  color: #660000;
}

a.idx-game-link {
  color: inherit;
  border: 2px solid;
  padding: 3px;
  display: block;
}

a.idx-create-game-link {
  color: #5F5F5F;
  border: 3px solid;
  padding: 5px;
  margin-top: 5px;
  display: inline-block;
  border-radius: 5px;
}

/* newgame.html */
div#new-game {
  margin: auto;
  width: 500px;
  background-color: #dd6060;
  padding: 30px;
  border-radius: 5px;
  /*color: #5F5F5F;*/
  color: rgb(209, 142, 142);
  box-shadow: 7px 7px 5px 0px rgba(245, 167, 167, 0.75);
}
form.new-game-form fieldset {
  border: 1px solid;
  border-radius: 5px;
}

.new-game-control {
  padding: 5px;
  border-radius: 5px;
}

.new-game-control-group {
  width: 460px;
  margin: 5px 0 0;
  padding: 0;
}
.new-game-control {
  width: 70%;
}
.new-game-control-label {
  display: inline-block;
  text-align: left;
  width: 25%;
}
.new-game-submit-group {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: right;
}

.game-list,
.new-game-submit {
  border: solid 2px;
  padding: 5px;
  background-color: inherit;
  border-radius: 5px;
  display: inline-block;
  color: inherit;
  font: inherit;
}

/* game.html */
#game {
  border: solid rgb(253, 190, 190);  
  margin: 0 auto;
  width: 1000px;
  border-radius: 5px;
  padding: 20px;
  background-color: #f0f0f093;
  color: rgb(0, 0, 0);
}
#gameCaption {
  border: solid rgb(253, 190, 190); 
  border-radius: 10px; 
  display: flex;
  justify-content: space-around;
  background: rgb(238, 218, 218);
}
.game-caption-status {
  font-size: small;
  border-radius: 3px;
  color: black;
  text-transform: lowercase;
  vertical-align: top;
  padding: 2px;
}
.game-caption-status-0,
.game-caption-status-1 {
  background-color: #94ebaa;
}
.game-caption-status-2,
.game-caption-status-3,
.game-caption-status-4 {
  background-color: #1C8A00;
}
.game-caption-status-5 {
  background-color: #660000;
}
.game-caption-status-6 {
  background-color: #0099ff;
}
#switchTimer {
  margin-top:5px;
  border: solid rgb(165, 228, 236); 
  border-radius: 10px; 
  font-weight: bold;
  font-size: 200%;
  text-align: center;
}
.game-timer-warn {
  color: #FFA600;
}
.game-timer-cri {
  color: red;
}
#team1, #team2, #map {
  display: inline-block;
}
#team1, #team2 {
  margin-top: 5px;
  overflow: hidden;
  border: 1px solid coral;
  border-radius: 8%;
}
#team1 {
  padding: 5px;
  float: left;
}
#team2 {
  padding: 5px;
  float: right;
}
#team1.police,
#team2.police {
  border-color: #1b04ee;
}
#team1.thief,
#team2.thief {
  border-color: #ee1000;
}
.game-team-winner {
  background-color: gold !important;
}
.game-team-police-caption,
.game-team-thief-caption {
  color: rgb(0, 0, 0);
}
.game-team-police-caption {
  overflow: hidden;
  border-radius: 8%;
  background-color:#7db5db;
}
.game-team-thief-caption {
  width: 100%;
  background-color: #e26e66;
}
#team1Lives, #team2Lives {
  float: right;
  color: black;
  border: 1px solid;
  border-radius: 2px;
  background-color: red;
}
.teamLives, .teamCoins {
  padding: 3px;
}
#team1Coins, #team2Coins {
  float: right;
  color: black;
  border: 1px solid;
  border-radius: 2px;
  background-color: #FFA600;
}
.game-player {
  color: black;
  padding: 3px;
}
.game-player:nth-child(even) {
  background: #454545;
}
.game-player:nth-child(odd) {
  background: #5F5F5F;
}
.game-player-lives,
.game-player-coins,
.game-player-deaths {
  border: 1px solid;
  border-radius: 2px;
}
.game-player-lives {
  color: black;
  background-color: rgb(61, 204, 57);
}
.game-player-coins {
  color: black;
  background-color: #FFA600;
}
.game-player-deaths {
  color: rgb(5, 5, 5);
  background-color: rgb(216, 73, 73);
}
.game-player-status-dc,
.game-player-status-dd {
  background: #660000 !important;
}
.game-player-status-ad:before {
  content: '(РѕС‚Рє.)';
}
.game-player-status-dd:before {
  content: '(РѕС‚Рє.)';
}
#gameConvas{
  margin-top:20px;
  border: solid  rgb(111, 174, 233);
  border-radius: 10px;
}
#map {
  margin-top: 5px;
  margin-left: 60px;
  border: solid rgb(165, 228, 236); 
  border-radius: 10px; 
  width: 600px;
  text-align: center;
}
#game #controls {
  margin-top: 10px;
  margin-left: 40px;
  margin-right: auto
}
.game-btn {
  border: solid 2px;
  padding: 5px;
  background-color: inherit;
  border-radius: 5px;
  display: inline-block;
  color: inherit;
  font: inherit;
  font-size: smaller;
}
#controls #btnCancel {
  color: red;
}

.game-btn.hidden {
  display: none;
}
